<!DOCTYPE html>
<html>
{% block title %}{% endblock title %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">



<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">


{% block register %}{% endblock register %}
{% block message %} {% endblock %}
  <!-- Header -->
  {% block header %}{% endblock %}
  
  
  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      
      {% block blog %}{% endblock blog %}
      <hr>

    </div>
{% block intro %}{% endblock %}
    

    <!-- END About/Intro Menu -->
    </div>

  <!-- END GRID -->
  </div>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>
// Toggle between hiding and showing blog replies/comments
document.getElementById("myBtn").click();
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

function likeFunction(x) {
  if(x.id=="like")
    // console.log(x.className);
  {
      if(x.className.includes('yes'))
      {
      x.style.fontWeight = "bold";
      x.className = x.className.replace(" w3-green", " w3-white");
      x.className = x.className.replace(" yes", " no");
      }
      else
      {
      x.style.fontWeight = "bold";
      x.className = x.className.replace(" w3-white", " w3-green");
      x.className = x.className.replace(" no", " yes");
      }
      
  }

  else
    // console.log(x.className);
  {
      if(x.className.includes('yes'))
      {
      x.style.fontWeight = "bold";
      x.className = x.className.replace(" w3-red", " w3-white");
      x.className = x.className.replace(" yes", " no");
      }
      else
      {
      x.style.fontWeight = "bold";
      x.className = x.className.replace(" w3-white", " w3-red");
      x.className = x.className.replace(" no", " yes");
      }
      
  }

}
</script>

</body>
</html>
